* {
  font-family: Arial, sans-serif;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

.App {
  background: linear-gradient(
    45deg,
    rgb(243, 239, 21),
    rgb(0, 152, 133),
    rgb(0, 152, 133),
    rgb(0, 152, 133)
  );
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
